<!--js -->
<script src ="/javascripts/jquery-3.1.1.min.js"></script>
<Script src = "/javascripts/bootstrap.min.js"></script>
<script src ="/javascripts/scripts.js"></script>
  <footer>
    <div class="legal">
        &copy; 2016 | <%= busName%>
    </div>
    <div>
      <ul class="nav__list">
        <li class ="social_links"><a href = "<%= busfb%>" target="blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true" ></i></a></li>
        <li class ="social_links"><a href = "<%= bustw%>" target ="blank"><i class="fa fa-twitter-square fa-lg" aria-hidden="true" ></i></a></li>
      </ul>
    </div>

</footer>
</body>
</html>
