<!--js -->
<script src ="/javascripts/jquery-3.1.1.min.js"></script>
<Script src = "/javascripts/bootstrap.min.js"></script>
<script src ="/javascripts/scripts.js"></script>
  <footer>
    <div class="container">
      <div class="footer">
        &copy; 2016 | Deepak Sharma
        <a href = "<%= git%>" target="blank"><i class="fa fa-github-square fa-lg" aria-hidden="true" ></i></a>
        <a href = "<%= linkedin%>" target ="blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true" ></i></a>
      </div>
    </div>
</footer>
</body>
</html>
