<%-include partials/header.ejs %>
  <main>
    <div class= "mainContainer">
    <% if(user==null){ user =" "} %>
      <p>Welcome to <%= busName%>...<%= user%></p>
    </div>
  </main>
<%-include partials/footer.ejs %>
