
body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: hsla(0, 0%, 0%, 0.89);
}
header {
  justify-content: space-between;
  padding: 8px 0;
  width: 100%;
  /*height:15px;*/
  color: white;
  display: flex;
  position: fixed;
  background-color:hsla(112, 264%, 56%, 0.42);
  top: 0px;
  left: -0.0px;
}
main {
  background-color: hsla(105, 61%, 36%, 0.68);
         max-width: 960px;
            margin: 67px auto;
    padding-bottom: 509px;
             color: #bbe4b4;
}

footer {
  width: 100%;
  background-color:hsla(112, 264%, 56%, 0.42);
  color: white;
  position:fixed;
  display:flex;
  justify-content:space-between;;
  padding: 0;
  bottom: 0px;
  left:0px;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: :5px;
}
.logoContact{
  padding: 0 0 0 50px;
  display:table-cell;
}
/*
* GRID CLASSES
*/

.fourth {
/*             Use this class whin you have to divide a div section in 4 equal sections of page width*/
  width: 25%;
  margin: 0;
  float:left;
  padding: 10px;
}
.third {
  /*          Use this class whin you have to divide a div section in 3 equal sections of page width*/
  width: 33%;
  margin: 0;
  float: left;
  padding: 10px;
}
.half {
  /*          Use this class whin you have to divide a div section in 2 equal sections of page width*/
  width: 50%;
  margin: 0;
  float: left;
  padding: 10px;
}
.full {
  /*          Use this class whin you have to use fulll width of a page for div section*/
  width: 100%;
  margin: 0;
  float: left;
  padding: 10px;
}
.row {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  z-index: 100;
}

.fa{
  color:#FFF6A1;
}
.social_links{
  list-style: none;
  padding: 5px 5px 5px 5px;
  font-size: 30px;
}
.fa:hover{
  color: #00d8ff;
}
.legal{
  padding : 16px 0 0 15px;
}
.header__logo {
  display: flex;
  padding: 0 50px ;
  font-family: 'sans-serif';
  font-size: 30px;
  margin: 0 5px;
}
.header__logo div p{
  display: flex;
  padding: 0 50px ;
  font-family: 'sans-serif';
  font-size: 30px;
  margin: 0 5px;
}
.nav__list{
    margin: 0 auto;
    font-size:14px;
    padding: 0 20px;
    float: right;
    display:inline-flex;
}
.nav__links {
  list-style: none;
  padding: 34px 0 0 18px;
  text-transform: lowercase;
  font-weight: bold;
}
.nav {

}
.nav__links a {
  text-decoration: none;
  font-size-adjust: auto;
  color:inherit;
}

.nav .nav__list:hover a {
  /*text-decoration-color: orange;*/
  transition:0.5s;
  color:hsla(130, 85%, 41%, 0.30);
}
.nav .nav__list a:hover {
  font-size: 1.02em;
  text-transform: capitalize;
  color:#00d8ff;
  transition:0.1s;

}
.background {
  /*margin-top: 57px;*/
  z-index: = -100;
  /*background-color:#c1c0e5;*/
  max-width: 100%;

  }
.background img {
  width: 80%;
  margin-left: 10%;
}
